/*	  
 *	Websnap Custom Tabs Wordpress Plugin
 *	Author				: Rodrigo Hernando
 *	URI						: https://github.com/rhernandog/wordpress-tab-plugin-html
 *	Version				: 1.1.0
 *	License				: MIT
 *	File Type			: Frontend HTML & CSS test SASS file
 *	Dependencies	: jQuery 1.12.3
 */



/*
-----------------------------------------------------------------------------------
			IMPORTS
-----------------------------------------------------------------------------------
*/

@import 'scss/foundation';

@include foundation-global-styles();
// @include foundation-typography;

.main-container {
	padding: 15px 0;
	@include grid-row;
	
	.inner-wrap {
		padding: 0 10px;
		@include clearfix;
		@include breakpoint(medium) {
			padding: 0 15px;
		}

		> .config-left-column,
		> .config-right-column {
			padding-left: 0;
			padding-right: 0;
		}// config left/right end

	}// inner wrap end

}// main container end

.inner-content {
	@include grid-column(12);
}

.config-left-column,
.config-right-column {
	@include grid-column(12);
}

.config-left-column {
	border: 1px solid $tab-content-border;
	height: 48px;
	overflow-y: hidden;
	transition: all 0.5s ease;
	@include breakpoint(large) {
		height: 350px;
		overflow-y: auto;
		@include grid-column(4);
	}

	.tab-id-list {
		@include breakpoint(large) {
			margin-top: 0;
			min-height: 348px;
			position: relative;
			opacity: 1;
			z-index: 10;
		}
		@include tabs-container;
		@include tabs-container-vertical;
		margin-top: -48px;
		opacity: 0;
		padding: 0;
	}

	.tab-id-element,
	.current-active-link {
		@include tabs-title;
		float: none;
	}

	.tab-id-element a {
		line-height: inherit;
	}

	.tab-id-element a,
	.current-active-link a {
		color: #2199e8;
		text-decoration: none;
		cursor: pointer;

		&:hover,
		&:focus {
			color: #1585cf;
		}
	}

	.current-active-link {
		background: $tab-background-active;
		display: block;
		position: relative;
		z-index: 50;
		@include breakpoint(large) {
			display: none;
		}
	}
}// config-left-column end

.config-right-column {
	height: auto;
	@include breakpoint(large) {
		height: 350px;
		@include grid-column(8);
	}

	.tab-content-wrap {
		@include tabs-content;
		@include tabs-content-vertical;
		// add left border for smaller screens
		border-left: 1px solid #e6e6e6;
		@include breakpoint(large) {
			border-left:0;
			border-top: 1px solid #e6e6e6;
		}

		.tab-content-container {
			height: auto;
			@include breakpoint(large) {
				height: 348px;
			}
			@include tabs-panel;
		}
	}
}// config-right-column end